:root {
    --primary: #3DCFD3;
    /* bluish */
    --dark: #161616;
    /* black */
    --pure: #FFFFFF;
    /* white */
    --ternary: #898989;
    /* gray */
    --light: #F2F2F2;
    /* whitish */
  }
.flex{
    display: flex;
}

.items-center{
    align-items: center;

}

.justify-between{
    justify-content:space-between;
}

.justify-center{
    justify-content: center;
}
.btn-nb{
    padding:0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border:2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease; /* code below left delib */
}

.btn-nb-primary{
    background:var(--primary);
    color:var(-- dark);
   
}

.btn-nb-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color:var(--primary);
}

.phpButtons{
    width: 150px;
    align-self:center;
}

.form-center {
    display:flex;
    justify-content: center;
  }