/* Reset default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */
body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #4c5eaf;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
}

header li {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section#intro {
  text-align: center;
  margin-bottom: 50px;
}

section#intro h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

section#intro p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #666;
}

section#train-information {
  overflow-x: auto;
}


section#train-information table {
  border-collapse: collapse;
  width: 75%;
  margin: 20px auto; /* centers the table horizontally */
}

section#train-information th, td {
  text-align: left;
  padding: 8px;
}

section#train-information tr:nth-child(even){
  background-color: #f2f2f2;
}

section#train-information tr:hover {
  background-color: #f5f5f5; /* light grey color */
}

section#train-information th {
  background-color: #006699; /* dark blue color */
  color: white;
}

section#train-information td {
  border-bottom: 1px solid #ddd;
}

section#train-information .table-container {
  overflow-x: auto;
  text-align: center;
}

/* Style the table */
section#train-status table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

section#train-status th, td {
  text-align: left;
  padding: 8px;
}

section#train-status tr:nth-child(even){
  background-color: #f2f2f2;
}

section#train-status tr:hover {
  background-color: #f5f5f5; /* light grey color */
}

section#train-status th {
  background-color: #006699; /* dark blue color */
  color: white;
}

section#train-status td {
  border-bottom: 1px solid #ddd;
}

/* Style the filters */
section#train-status .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

section#train-status .filter input {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  padding: 5px;
}

section#train-status .filter button {
  background-color: #00995c; /* dark blue color */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

section#train-status .filter button:hover {
  background-color: #00804d; /* darker blue color */
}
.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.577);
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

label {
  margin-top: 20px;
}

input[type="text"], input[type="date"] {
  width: 100%;
  height: 35px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
